* {
  margin: 0;
  padding: 0;
  color: #555;
  font-family: "Noto Sans KR", "AppleGothic", sans-serif;
}

a {
  text-decoration: none;
}


ul,
li {
  list-style: none;
}

#util_wrap{
  height: 35px;
  background: url(http://www.dapharm.com/images/common/bg/bg_top.gif) repeat-x;
}

#util {
  /* position: relative; */
  margin: 0 auto;
  width: 961px;
  height: 35px;
}

#util > #util_menu {
  position: relative;
  width: 960px;
  height: 35px;
  box-sizing: border-box;
  margin: 0 auto;
  float: right;
  padding-top: 7px;
}

#util_menu > .util {
  position: absolute;
  right: 81px;

  /* padding: 0 70px; */
  font-size: 13px;
}

#util_menu > .util > li {
  /* width: 58px; */
  background: url(http://www.dapharm.com/images/common/bg/bl_spuare.gif)
    no-repeat 0 5px;
  background-position: 1px;
  float: left;
  padding: 0 9px 0 10px;
}

#util_menu > .util > li:first-child {
  background: none;
}

#util_menu > .util > li > a {
  height: 12px;
}

#util_menu > .btn {
  height: 25px;
  overflow: hidden;
  position: absolute;
  right: 10px;
  top: 4px;
}
/* util 끝 */

/* 팝업css */
#popup_wrap{
  position: relative;
  width: 100%;
  height: 100%;
}
#popup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 500px;
  margin: 0 auto;
  background: #f6f6f6;;
  border: 1px solid #000;
}

#popup.on{
  display: block;
}

#popup > h1 {
  height: 34px;
  background: #5b5a5e;
  border-bottom: #019ac0 solid 4px;
  padding-bottom: 15px;
  padding-left: 20px;
}

#popup > a {
  position: absolute;
  top : 15px;
  right : 30px
}

#popup > #top {
  margin-top: 20px;
  padding: 0 30px 0 30px;
}

#popup > #top > h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

#popup > #top > h3 > .title {
  float: left;
  font-size: 16px;
}

#popup > #top > h3 > .date {
  position: absolute;
  background: url("http://www.dapharm.com/images/common/ico/ico_data.gif") no-repeat;
  font-size: 12px;
  padding-left: 15px;
  font-weight: normal;
  right : 30px
}


#popup > #top > .cf {
}

#popup > #top > .cf > iframe {
  margin: 10px auto;
}

#popup > #top > .textbox {
  margin: 20px 0;
  padding: 20px;
  overflow-y: scroll;
  background: #fff;
  height: 51px;
}

#popup > #top > .close {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
/* popup css 끝 */



#wrap {
  position: relative;
  width: 100%;
  /* background: url(http://www.dapharm.com/images/common/bg/bg_top02.jpg) repeat; */
  background: #f5f5f5;
}

#header {
  position: relative;
  margin: 0 auto;
  width: 961px;
  height: 66px;
  padding-top :30px;
}

#header > .logo {
  float: left;
}

#header > .gnb {
  margin-left: 100px;
  padding : 5px;
  float: left;
}

#header > .gnb > li{
  font-size: 15px;
  font-weight: bold;
  padding : 10px;
  display: inline-block;
}

#header > .gnb > li > a {
  display: block;
}

#header > .gnb > li > a:hover {
  color: #019ac0;
}

/* #header > .gnb > li > .a1:hover + .g1{
  display: block;
} */

/* #header_wrap:hover{
  background: url(/http://www.dapharm.com/images/common/bg/bg_top02.jpg) repeat-x left top;
} */

/* #header_wrap:hover {
  overflow: hidden;
  height: 405px;
  background: white;
  z-index: 0;
} */

/* 백그라운드만 바꿔주면 댐 */
#header > .gnb > li > .g1 {
  background: url(http://www.dapharm.com/images/common/gnb/bg_gnb_01.gif)
    no-repeat right bottom white
}
#header > .gnb > li > .g2 {
  background: url(http://www.dapharm.com/images/common/gnb/bg_gnb_01.gif)
    no-repeat right bottom white;
}
#header > .gnb > li > .g3 {
  background: url(http://www.dapharm.com/images/common/gnb/bg_gnb_03.gif)
    no-repeat right bottom white;
}
#header > .gnb > li > .g4 {
  background: url(http://www.dapharm.com/images/common/gnb/bg_gnb_09.gif)
    no-repeat right bottom white
}
#header > .gnb > li > .g5 {
  background: url(http://www.dapharm.com/images/common/gnb/bg_gnb_05.gif)
    no-repeat right bottom white;
}
#header > .gnb > li > .g6 {
  background: url(http://www.dapharm.com/images/common/gnb/bg_gnb_07.gif)
    no-repeat right bottom white;
}


/*공통*/



#header > .gnb > li > .sub {
  overflow: hidden;
  position: absolute;
  top: 97px;
  left: 0;
  width: 961px;
  height: 305px;
  z-index: 999;
  display: none;
}

#header > .gnb > li > .sub.on {
  display: block;
}


#header > .gnb > li > .sub > h3{
  float: left;
  width: 243px;
  padding-top: 98px;
  padding-left: 26px;
  color: #019ac0;
  z-index: 3;
}


#header > .gnb > li > .sub > h3 > span {
  font-size: 12px;
  font-weight: normal;
  color: #888;
  margin-top: 10px;
  z-index: 3;
}

#header > .gnb > li > .sub > .sub_menu {
  float: left;
  position: relative;
  width: 151px;
  height: 299px;
  padding: 13px 0 13px 13px;
  border: 1px solid #d7d7d7;
  background: #f5f5f5;
  border-bottom: none;
  z-index: 3;
  font-size: 14px;
}

#header > .gnb > li > .sub > .sub_menu > li {
  padding : 3px 0;
}

#header > .gnb > li > .sub > p {
  float: right;
  padding-top: 14px;
  padding-right: 18px;
}
/*공통*/

#header > button {
  margin-top: 12px;
  height: 29px; /*이미지 크기가 옮기니까 달라서 설정해줌*/
  border: none;
  float: right;
}



/*main_visual 시작*/
#main_visual {
  position: relative;
  width: 100%;
  min-width: 961px;
  background: #f6f6f6;
  margin: 0 auto
}

.main_visual > .visual_box > .tit {
  float: left;
  padding-top: 25px;
}

.tit > img {
  padding-top : 25px;
  border: 0;
  vertical-align: top;
}

#main_visual > .visual_box {
  overflow: hidden;
  position: relative;
  z-index: 10;
  width: 961px;
  height: 475px;
  margin: 0 auto;
  border-top: 1px solid #d7d7d7;
}

#main_visual > .visual_box > .pop_box{
  position: absolute;
  top: 20px;
  right: 3px;
  /* width: 112px; */
  text-align: left;
  z-index: 100;
}

#main_visual > .visual_box > .play_box{
  position: absolute;
  top: 60px;
  right: 0px;
  z-index: 100;
}

#main_visual > ul {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 476px;
}

#main_visual > ul > li {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 476px;
  opacity: 0;
}

/* @keyframes move {
  form {opacity: 1;}
  to {opacity: 0;}
} */

#main_visual > ul > .on {
opacity: 1;
transition: all 2s;
}

#main_visual > ul > .a{

  background-position-x: 311px;
  z-index: 1;
  background: url(http://www.dapharm.com/images/main/Visual02.jpg) no-repeat center top;
}


#main_visual > ul > .b{

  background-position-x: 311px;
  z-index: 2;
  background: url(http://www.dapharm.com/images/main/Visual01.jpg) no-repeat center top;

}

#main_visual > ul > .c{

  background-position-x: 311px;
  z-index: 3;
  background: url(http://www.dapharm.com/images/main/Visual09.jpg) no-repeat center top;

}
/*main_visual 끝*/


/*container 시작*/
#container {
  position: relative;
  width: 961px;
  margin: 0 auto;
  margin-top: 10px;
  border-bottom: 1px solid #c7c7c8;
}

#contents{
  min-height: 715px;
  background: url(http://www.dapharm.com/images//main/bg_bottom.png) no-repeat 0 bottom;
}

/*content_left 시작*/
.content_left{
  position: relative;
  float: left;
  width: 243px;
  /* background: yellow; */
}

.content_left > .brand {
  position: relative;
  width: 211px;
  height: 240px;
  padding: 0 12px;
  margin: 0 10px 10px 0;
  background: #fdfdfd;
  overflow: hidden;
}

.content_left > .brand > h3{
  padding: 15px 0 20px 0;
  border-bottom: 1px solid #e5e5e5;
  color: #666;
}

.content_left > .brand > .botton2 {
  position: absolute;
  top: 21px;
  right: 21px;
}

.content_left > .brand > .botton2 > ul > li{
  float: left;
  padding-left: 1px;
}

/* .content_left > .brand > .brand_rolling {
  position: absolute;
  overflow: hidden;
  width: 204px;
  height: 151px;
} */
.content_left > .brand > .brand_rolling {
  position: absolute;
  overflow: hidden;
  margin-left: 21px;
  height: 151px;
}

.content_left > .brand > .brand_rolling.animated {
  transition: 1s ease-out;
}

.content_left > .brand > .brand_rolling > li {
  /* position: absolute; */
  width: 204px;
  float: left;
}

.content_left > .brand > .brand_rolling > li:not(:last-child) {
padding-right: 15px;
}

.content_left > .notice {
  overflow: hidden;
    padding-top: 163px;
    margin-bottom: 20px;
    background: url(http://www.dapharm.com/images/main/bg_notice_box.gif) no-repeat;
}

.content_left > .notice > .more {
  float: right;
  padding-right: 10px;
}

.contributions {
  float: left;
  position: relative;
  width: 211px;
  height: 175px;
  padding: 0px 12px 0 12px;
  background: url(http://www.dapharm.com/images/main/bg_contributions.gif) no-repeat left bottom;
}

.contributions > p {
  margin-top: 17px;
}

.contributions > .more {
  position: absolute;
  right: 0;
  bottom: 0;
}
/* contetn_left 끝*/


/* content_center 시작*/
.content_cen {
  width: 242px;
}

.content_cen > .reserch_box{
  position: absolute;
  top: -20px;
  left: 243px;
  z-index: 10;
  width: 242px;
  height: 736px;
  background: url(http://www.dapharm.com/images/main/bg_research.png) no-repeat;
}

.content_cen > .reserch_box > h3 {
  margin-bottom: 99px;
  padding: 50px 0 0 20px;
}

.content_cen > .reserch_box > ul {
  width: 175px;
  padding-left: 20px;
}

.content_cen > .reserch_box > ul > li {
  border-bottom: 1px solid #67c5db;
  padding: 10px 0;
  display: block;
}

.content_cen > .reserch_box > ul > li > a > p{
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding-left: 3px;
  letter-spacing: -0.75px;
  float: left;
}

.content_cen > .reserch_box > ul > li > a > span {
  text-align: right;
  display: block;
}
/*contetn_cetner 끝*/


/*content_right 시작*/
.content_right {
  position: relative;
  float: right;
  width: 476px;
  overflow: hidden;
}

.content_right > .search {
  padding-top: 25px;
  height: 35px;
}

.content_right > .search > input {
  float: left;
  height: 30px;
  width: 370px;
  text-align: center;
  color: #888;
}

.content_right > .search > button {
  float: right;
  width: 87px;
  height: 34px;
  border: none;
}

.content_right > .new {
  overflow: hidden;
  position: relative;
  width: 441px;
  height: 213px;
  padding: 10px 0 0 0px;
  margin-bottom: 22px;
  margin-left : 20px
}

.content_right > .new > h3 {
  padding-top: 3px;
}

.content_right > .new > .btn {
  position: absolute;
  top: 20px;
  right: 0px;
}


.content_right > .new > .btn > ul > li{
  float: left;
  padding: 2px;
}

/* .content_right > .new > .new_img {
  overflow: hidden;
  width: 441px;
  margin-top: 7px;
} */

/* .content_right > .new > .new_rolling{
  position: relative;
  overflow: hidden;
  width: 441px;
  height: 172px;
} */
.content_right > .new > .new_rolling {
  position: absolute;
  overflow: hidden;
  height: 172px;
  top: 50px;
  left : 0
}

.content_right > .new > .new_rolling.animated {
  transition: 1s ease-out;
}

/* .content_right > .new > .new_rolling > li {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 441px;
  float: left;
} */
.content_right > .new > .new_rolling > li {
  height: 172px;
  width: 441px;
  /* left: 20px; */
  float: left;
  overflow: hidden;
}

.content_right > .new > .new_rolling > li:not(:last-child) {
  margin-right: 10px;
}




.content_right > .news_promo{
  width: 464px;
  height: 232px;
  background: #fdfdfd;
}


.content_right > .news_promo > .news {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
  /* padding: 10px 20px; */
  padding-top: 10px;
  padding-left: 20px;
}

.content_right > .news_promo > .news > h3{
  position: absolute;
  top:15px
}

.content_right > .news_promo > .news > a{
  position: absolute;
  top: 20px;
  right: 60px;
}

.content_right > .news_promo > .news > ul {
  position: absolute;
  top : 60px;
  padding-top: 10px;
  border-top: 1px solid #e1e1e1;
  font-size: 13.5px;
}

.content_right > .news_promo > .news > ul > li {
  padding-bottom: 5px;
}


.content_right > .news_promo > .promo {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
}

.content_right > .news_promo > .promo > h3 {
  padding-top: 15px;
}

/* .content_right > .news_promo > .promo > .media {
} */


.content_right > .steps > a > img{
padding-top: 30px;
}

.content_right > .cyber {
  background: url("http://www.dapharm.com/images/main/bg_cyber.gif") no-repeat bottom;
  position: absolute;
  right: 4px;
  bottom: 3px;
  width: 240px;
  height: 133px;
}

.content_right > .cyber > img {
  position: absolute;
  right: 20px;
  top : 10px
}

.content_right > .cyber > a{
  position: absolute;
  right: 20px;
  top : 50px
}

#footer {
  margin: 0 auto;
  width: 961px;
  height: 152px;
}

#footer_top{
  height: 43px;
  border-bottom: 1px solid #e7e7e7;
  border-top: 3px solid #029ec3;
}

#fotter_top > #menu_left > li {
  float: left;
}

#fotter_top > #menu_right > li {
  float: right;
}
