* {
  margin: 0;
  padding: 0;
  color: #555;
  font-family: "Noto Sans KR", "AppleGothic", sans-serif;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

#util_wrap{
  height: 35px;
  background: url(http://www.dapharm.com/images/common/bg/bg_top.gif) repeat-x;
}

#util {
  /* position: relative; */
  margin: 0 auto;
  width: 961px;
  height: 35px;
}

#util > #util_menu {
  position: relative;
  width: 960px;
  height: 35px;
  box-sizing: border-box;
  margin: 0 auto;
  float: right;
  padding-top: 7px;
}

#util_menu > .util {
  position: absolute;
  right: 81px;

  /* padding: 0 70px; */
  font-size: 13px;
}

#util_menu > .util > li {
  /* width: 58px; */
  background: url(http://www.dapharm.com/images/common/bg/bl_spuare.gif)
    no-repeat 0 5px;
  background-position: 1px;
  float: left;
  padding: 0 9px 0 10px;
}

#util_menu > .util > li:first-child {
  background: none;
}

#util_menu > .util > li > a {
  height: 12px;
}

#util_menu > .btn {
  height: 25px;
  overflow: hidden;
  position: absolute;
  right: 10px;
  top: 4px;
}
/* util 끝 */

#wrap {
  position: relative;
  width: 100%;
  background: url(http://www.dapharm.com/images/common/bg/bg_top02.jpg) repeat;
}

#header {
  margin: 0 auto;
  width: 961px;
  padding : 30px
}

#header > .logo {
  float: left;
}

#header > .gnb {
  margin-left: 100px;
  padding : 5px;
  float: left;
}

#header > .gnb > li{
  font-size: 15px;
  font-weight: bold;
  padding : 12px;
  display: inline-block;
}

#header > button {
  margin-top: 12px;
  height: 29px; /*이미지 크기가 옮기니까 달라서 설정해줌*/
  border: none;
  float: right;
}
